root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Arquivos PHP (Laravel)
[*.php]
indent_style = space
indent_size = 4

# Arquivos Vue, TypeScript e JavaScript (Vue/Quasar)
[resources/**.{vue,ts,js}]
indent_style = space
indent_size = 2
